.CardPublish {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .CardDogChild{
        flex-basis: 25%;

    }
}

@media (max-width: 500px) {
    .CardDogChild{
        flex-basis: 50%;
    }
}
